@import 'global';

.bg__vector {
    &-top {
        position: absolute;
        left: 0;
        z-index: -1;
    }

    &-bottom {
        position: absolute;
        right: 0;
        transform: translateY(195%);
        z-index: -1;
    }
}

.container {
    max-width: 856px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    background: rgba(255, 255, 255, 0.67);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12), inset 0px 12px 24px rgba(0, 0, 0, 0.12);
    min-height: 172px;
    
    &__inner{
        display: flex;
        justify-content: space-around;
    }
    &__logo {
        margin-top: 6px;
    }

    &__content {
        padding-top: 33px;
    }

    &__name {
        display: flex;
        margin-bottom: 16px;
    }

    &__title {
        margin-right: 16px;
        line-height: 29px;
        letter-spacing: -0.01em;

        font: {
            family: 'Montserrat', sans-serif;
            size: 24px;
            weight: 500;
        }
    }

    &__project-start {
        color: #3D8EDA;
        border: 1px solid #3D8EDA;
        border-radius: 2px;
        padding: 6px 12px 7px 12px;
        line-height: 15px;
        letter-spacing: -0.03em;

        font: {
            size: 13px;
            weight: 400;
        }
    }

    &__statistics {
        display: flex;
        line-height: 16px;
        margin-bottom: 19px;

        & span {
            margin-right: 5px;
            line-height: 16px;

            font: {
                size: 14px;
                weight: 700;
            }
        }

        font: {
            size: 14px;
            weight: 400;
        }

        &-posts {
            margin-right: 28px;
        }

        &-followers {
            margin-right: 17px;
        }
    }
}

.ui-datepicker {
    width: auto;
    padding: 10px 10px 10px 10px;
    background: #FFFFFF;
    border: 1px solid #D2D1D2;
    border-radius: 5px;
    line-height: 16, 41px;

    &-title {
        line-height: 16, 41px;
        color: #000000;
    }

    &-ui-datepicker-week-end {
        line-height: 15px;
        color: #000000;

        font: {
            size: 13px;
            weight: 700;
        }
    }

    &-calendar {

        & tbody {
            line-height: 15px;

            font: {
                size: 13px;
                weight: 400;
            }
        }
    }

    & th {
        padding: 9px 5px;
    }

    & td a {
        padding-top: 4px;
        text-align: center;
    }

    &-next {
        &:hover {
            border: none;
            background: none;
            top: 0;
            right: 0;
        }
    }

    &-prev {
        &:hover {
            border: none;
            background: none;
            top: 0;
            left: 0;
        }
    }
}

.ui-widget {
    background: #FFFFFF;
    border: 1px solid #D2D1D2;
    border-radius: 5px;

    &-header {
        background: #FFFFFF;
        border: none;
        border-radius: 5px;
        line-height: 16px;
        color: #000000;

        font: {
            family: 'Roboto', sans-serif;
            size: 14px;
            weight: 700;
        }
    }

    &-content {
        border: none;
        color: #333437;

        & a {
            color: #333437;
        }
    }
}

.ui-state-active {
    background: #3D8EDA;
    border-radius: 2px;
    color: #FFFFFF;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    color: #333437;
    border: none;
    background: #F4F4F4;
    border-radius: 2px;
}

.ui-state-default {
    width: 23px;
    height: 23px;
    text-align: center;
    margin: 2px;
    color: #333437;

    &:hover {
        border: 1px solid #3D8EDA;
    }
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button {
    border: none;
    border-radius: 2px;
}

.ui-datepicker .ui-datepicker-prev {
    background-image: url(../images/prev.png);
    background-repeat: no-repeat;
    background-position: center;
}

.ui-datepicker .ui-datepicker-next {
    background-image: url(../images/next.png);
    background-repeat: no-repeat;
    background-position: center;
}

.ui-widget-header .ui-icon .ui-icon,
.ui-widget-content .ui-icon {
    background-image: none;
}

.ui-state {
    &:hover {
        border: none;
        background: none;
        top: 0;
    }
}

.hasDatepicker {
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    width: 162px;
}

.hasDatepicker + .hasDatepicker{
    margin-bottom: 31px;
}

.content {
    &__view {
        margin: 18px 5px 23px;
        display: flex;
        justify-content: flex-end;

        &-btn {
            border: none;
            background-color: transparent;
            cursor: pointer;

            &.content__view-btn--active {
                rect {
                    fill: #3D8EDA;
                }
            }
        }
    }

    &__items{
        &.content__item--grid{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__item {
        max-width: 100%;
        display: flex;
        background: #FFFFFF;
        margin-bottom: 8px;
        &.content__item--grid{
            max-width: 203px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 754px;
            margin-left: 30px;
            margin-right: 80px;

            &.content__item--grid{
                margin: 0 12px 25px;
            }

            &-title {
                line-height: 19px;
                margin-bottom: 8px;

                font: {
                    size: 16px;
                    weight: 500;
                }

                &-grid{
                    line-height: 16px;
                    margin-right: 30px;

                    font: {
                        weight: 500;
                        size: 14px;
                    }
                }
            }

            &-num {
                color: #000000;
                line-height: 16px;

                font: {
                    size: 14px;
                    weight: 500;
                }

                &-grid{
                    line-height: 14px;
                    margin-right: 11px;
                    font: {
                        weight: 500;
                        size: 12px;
                    }
                }
            }

            &-like {
                color: #000000;
                line-height: 16px;
                margin-right: 20px;

                font: {
                    size: 14px;
                    weight: 500;
                }

                &::before {
                    content: url(../images/like.svg);
                    position: relative;
                    margin-right: 7.5px;
                    top: 2px;
                }
            }

            &-comm {
                color: #000000;
                line-height: 16px;

                font: {
                    size: 14px;
                    weight: 500;
                }

                &::before {
                    content: url(../images/com.svg);
                    position: relative;
                    margin-right: 7.5px;
                    top: 4px;
                }
            }

            &-num{
                color: #000000;
                line-height: 16px;

                font: {
                    size: 14px;
                    weight: 500;
                }
            }

            &-upload-list{
                &.content__item--grid{
                    display: none;
                }
            }

            &-upload-grid{
                display: none;
                &.content__item--grid{
                    display: flex;
                    align-items: center;
                    margin-bottom: 18px;
                    margin-left: 12px;
                }
            }
        }
    }

    &__img{
        max-width: 86px;
        &.content__item--grid{
            max-width: 100%;
            margin-bottom: 12px;
        }
    }

    &__more {
        cursor: pointer;
        color: #929292;
        border: 1px solid #929292;
        background-color: transparent;
        border-radius: 14px;
        line-height: 13px;
        letter-spacing: -0.03em;
        padding: 8px 26px 7px;
        display: block;
        margin-top: 30px;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;


        font: {
            size: 11px;
            weight: 500;
        }
    }
}

@import 'media';